div {
  width: 500px;

  height: 350px;
  border: 4px solid rgb(8, 8, 97);
  padding: 5px;
}
h1{
    border-top: 3px solid brown;
    border-bottom: 3px solid brown;
padding: 10px 0;
}
.bold{
    font-weight: bold;
}
#under{
    text-decoration: underline;
}