*{
    margin: 0;
    padding: 0;

}
.container{
    background-color: plum;
    width: 500px;
    height: 350px;
    margin: 40px;
    padding:0 20px;
}
.term1{
    color: brown;
}
.term2{
    color: purple;
}
.mar{
    margin-bottom: 10px;
    padding-left: 15px;
}
.font{
    font-weight: bold;
}
.a{
    border: 2px dashed black;
    padding: 0 5px;
}
h1{
    padding: 5px;
}
dt{
    padding: 10px;
}