* {
  margin: 0;
  padding: 0;
  margin: 20px;
}
h1 {
  background-color: azure;
  width: 300px;
  height: 100px;
}
.par1 {
  background-color: cornsilk;
  width: 200px;
}
.par2 {
  background-color: #f8f8f8;
  height: 400px;
}
